.cases-overview{
    margin: 30px;
    margin-top: 60px;

    a{
        text-decoration: none;
        color: black;
    }

    .case-block{
        background-color: #F7F7F7;
        padding: 0;
        box-sizing: border-box;
        border: 6px solid white;
        height: 320px;

        .twitter.message{
            background-color: $twitter-color;
            color: white;
            padding: 5% 15%;

            .fa{
                font-size: 2.4em;
            }
        }

        .facebook.message{
            background-color: $facebook-color;
            color: white;
            padding: 5% 15%;

            .fa{
                font-size: 2.4em;
            }
        }
    }

    .profile-picture{
        img{
            position: absolute;
            right: 15%;
            top: 8%;
            width: 80px;
            border-radius: 50%;
            box-shadow: 3px 2px 10px rgba(0,0,0,0.2);
            // filter: grayscale(80%);
        }
    }

    .profile-info{
        padding: 7% 15%;

        h2{
            margin-top: 0px;
            margin-bottom: 5px;
            font-size: 1.75em;
            font-weight: 600;
        }

        h3{
            margin-top: 0px;
            font-size: 1em;
        }
    }

    .last-message{
        padding: 0% 15%;

    }
}
