.case-detail{
    margin-top: 100px;
}

.basic-info{
    
    h2{
        margin: 0;
        margin-bottom: 5px;
        font-weight: 600;
    }
    h3{
        margin: 0;
        font-size: 1.4em;
        margin-bottom: 5px;
    }

    .name{
        text-align: right;
    }

}
