.error-message{
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    font-size: 1.1em;

    span{
        padding: 15px;
        background-color: lighten(red, 30%);
    }
}

.success-message{
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    font-size: 1.1em;

    span{
        padding: 15px;
        background-color: lighten($message-answer, 4%);
    }
}
