.conversation{
    padding: 0% 10%;
    padding-bottom: 60px;

    .bubble {
        position: relative;
        // width: 300px;
        min-height: 60px;
        padding: 20px;
        background: #dbdbdb;
        border-radius: 10px;
        // margin-bottom: 20px;
        float:none;

        display:inline-block;
        vertical-align:middle;
        margin-right:-4px;
    }

    .bubble:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 15px 15px 15px 0;
        border-color: transparent #dbdbdb;
        display: block;
        width: 0;
        z-index: 1;
        margin-top: -15px;
        left: -15px;
        top: 50%;
    }

    .bubble.answer{
        background-color: $message-answer;
        color: white;
    }

    .bubble.answer:after{
        border-color: transparent $message-answer;
    }

    .attention{
        transition: transform .3s;
        transform: scale(1.08);
    }

    .thumb-picture {
        float:none;
        display:inline-block;
        vertical-align:middle;
        margin-right:-4px;
        box-sizing: border-box;
        border: 10px solid white;

        img{
            width: 100%;
            border-radius:50%;
            border: 1px solid #E6E6E6;
        }
    }

    .message{
        padding-bottom: 10px;
        transition: all .3s;
    }

    .inner{
        padding-left: 45px;
    }

    .answer-textarea{
        padding-left: 25px;
        padding-right: 0px;
        margin-top: 40px;
        margin-bottom: 10px;

        textarea{
            padding: 10px 15px;
            width: 100%;
            outline: none;
            resize: none;
        }
    }

    .submit{
        padding-left: 25px;
        padding-right: 0px;
        input{
            width: 100%;
            padding: 8px 6px;
            border: none;
            color: white;
            background-color: $btn-color;
            transition: background-color .3s;
        }
    }

    .submit:hover input{
        background-color: darken($btn-color, 10%);
    }

    .submit input:focus {
        outline: none;
    }

    @media (max-width: 768px) {
        .answer-textarea, .submit{
            padding-left: 0px;
        }
    }

    .delete-answer, .reply-inner{
        position: absolute;
        right: 15px;
        top: 5px;
        display: none;
        transition: all .3s;

        a{
            color: $accent-color;
        }
    }

    .bubble.answer:hover .delete-answer, .bubble:hover .reply-inner{
        display: block;
        transition: all .3s;
    }

    a.reply, a.reply_own{
        padding: 0px 5px;
        text-decoration: none;
    }

    a.reply_own, .delete-answer a, .answer .reply, .answer .fa-reply{
        color: white !important;
    }

    .fa-reply{
        padding-left: 5px;

    }

    .delete-answer a {
        padding-right: 5px;
    }

    .inner-comments, .inner-comments-answers{
        display: none;min-height: 0;
    }

    .inner-comments-answers{
        clear: both;
        border: 1px solid transparent;
    }


    .inner.message{

    }

    .more, .more-answer{
        text-align: right;
        cursor: pointer;
        padding-bottom: 10px;
    }

    .media-item{
        position:relative;
        overflow:hidden;
        width: 50%;
        height: auto;
        float: left;

        img{
            width: 100%;
            height: 140px;
            background-size: cover;
            background-position: center;
        }
    }

    .msg{
        padding-bottom: 10px;
    }

    .answer_block{
        display: none;
    }

    .specific_answer{
        width: 100%;
        padding-top: 5px;
        padding-left:10px;
        resize: none;
        outline: none;
    }

    .post-date{
        font-size:.8em;
    }

    .answer-post-date{
        text-align: center;
        opacity: 0;
    }
}

.word-count{
    text-align: right;
    margin-bottom: 10px;
}

.orange-wordcount{
    color: orange;
}

.red-wordcount{
    color: red;
}

input[disabled='disabled']{
    transition: all .3s;
    background-color: lighten($header-backgroundcolor, 20%) !important;
}

.contact-name{
    margin-top: 0px;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
}
