// .ask-permission{
//     text-align: center;
//     padding: 100px;
//
//     .login-btn{
//         width: 150px;
//     }
// }


.config-checker{
    text-align: center;

    h2{
        margin-top: 25%;
        padding-bottom: 30px;
    }

    .facebook-icon, .twitter-icon{

        font-size: 2em;
        padding-bottom: 30px;

        .fa{
            display: block;
            font-size: 8rem;
            color: gray;
        }
    }

    .socials{
        margin-top: 100px;
    }

    .facebook-icon {

        .fa.enabled{
            color: $facebook-color;
        }
    }

    .twitter-icon{

        .fa.enabled{
            color: $twitter-color;
        }
    }

    .login-btn{
        width: 175px;
        padding-top: 30px;
    }

    .go-btn{
        padding-bottom: 30px;
    }

    .launch{
        margin-top: 5px;
    }

    .go-btn a{
        position: relative;
        display: inline-block;
        background-color: $header-backgroundcolor;
        color: white;

        width: 75px;
        height: 75px;
        border-radius: 50%;
        line-height: 75px;

        text-decoration: none;
        text-transform: uppercase;
        transition: border-bottom .1s;
    }

    .go-btn a:hover{
        transition: border-bottom .1s;
        background-color: $message-answer;
    }

    .go-btn.disabled a{
        background-color: $base-gray;
        color: darken($base-gray, 20%);
        cursor: not-allowed;
        pointer-events: none;
    }
}
