.publish-now{
    text-align: center;

    .fa{
        padding-left: 5px;
    }

    a{
        display: inline-block;
        margin-top: 60px;
        margin-bottom: 40px;
        text-decoration: none;
        border: 1px solid $header-backgroundcolor;
        color: $header-backgroundcolor;
        padding: 10px 30px;
    }

    a:hover{
        background-color: $header-backgroundcolor;
        border: 1px solid $header-backgroundcolor;
        color: white;
    }
}
.fa-trash-o{
    color: white;
    padding-left: 5px;
}

.delete-publishment{
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;

    .fa-trash-o{

        color: black;
    }
}

.published-content:hover .delete-publishment{
    display:block;
}

.publish{
    display: none;
    margin: 50px 0px;

    textarea{
        width: 100%;
        resize: none;
        outline: none;
        padding: 10px;
    }

    .title{
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
    }

    .submit{
        padding-top: 10px;

        input{
            width: 100%;
            padding: 6px;
            border: none;
            color: white;
            background-color: $btn-color;
            transition: background-color .3s;
        }
    }

    .submit:hover input{
        background-color: darken($btn-color, 10%);
    }

    .word-count{
        display: none;
    }

    .media-choice{
        padding: 25px 0px;
        font-size: 1.1em;
        text-align: center;

        .twitter-btn, .fb-btn{
            label{
                background-color: #ABABAB;
                padding: 5px 20px;
            }
        }

        .twitter-btn{
            text-align: right;
        }

        .fb-btn{
            text-align: left;
        }

        label{
            cursor: pointer;
        }

        input[type=checkbox]{
            display: none;
        }

        input[type=checkbox] + label {
          color: white;
        }

        input[type=checkbox]:checked + label.twitter, label.twitter:hover{
            background-color: $twitter-color;
        }

        input[type=checkbox]:checked + label.facebook, label.facebook:hover{
            background-color: $facebook-color;
        }
    }
}

.publishments{

    .title{
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
    }

    a{
        color: black;
        text-decoration: none;
    }

    .row{
        // padding: 30px 0px;


    }

    .published-content{
        margin-top: 30px;
        position: relative;
        text-align: center;
        background-color: #F7F7F7;
        box-sizing: border-box;
        word-wrap: break-word;
        padding: 60px 40px;
        padding-bottom: 80px;
    }

    .icon{
        padding-left: 3px;
    }

    .date{
        text-align: center;
    }

    .icons{
        background-color: $accent-color;
        padding-left: inherit;
        padding-right: inherit;
        left: 0;
        right: 0;
        color: gray;

        position: absolute;
        bottom: 0px;
        padding: 3px 0px;

        .left{
            text-align: left;
        }
        color: white !important;
    }
}

.publishments.detail{
    margin-top: 60px;

    .screen-name{
        font-weight: 800;
    }
}

.answer-textarea.pub, .submit.pub{
    padding-left: 0;
}

h4.screen-name{
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.1em;
}

.conversation.detail{
    padding-top: 100px;
}

.no-results{
    text-align: center;
    padding-top: 30px;
}
