.unslider{
    padding: 30px 10%;
}

.fourth-block{
    background-color: $base-gray;

}

h2.most-influential{
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-size: 2.5em;
    padding-top: 40px;
}
