.unslider{
    padding: 30px 10%;
}

.fourth-block{
    background-color: $base-gray;

}

h2.most-influential{
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-size: 2.5em;
    padding-top: 40px;
}

.unslider-nav{
    li{
        border-color: lighten($sidebar-hover-color, 20%) !important;
        background-color: lighten($sidebar-hover-color, 20%) !important;
    }

    li.unslider-active{
        border-color: $sidebar-hover-color !important;
        background-color: $sidebar-hover-color !important;
    }
}
