.summary{
    background-color: $base-gray;
    padding: 10px 30px;
    margin-bottom: 60px;

    h2{
        color: $orange-title;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.5em;
        margin-bottom: 0px;
    }

    h3{
        margin-bottom: 5px;
        font-size: 1.2em;
        font-weight: 600;
    }

    .isPublic{
        span{
            font-weight: 600;
        }
    }

    .co-operators{
        ul{
            list-style: none;
            padding: 2px;
            input{
                display: none;
            }

            label{
                cursor: pointer;
            }

            label.checked{
                color: $message-answer;
            }
        }
    }

    .summary-block{
        h4{
            font-size: 1em;
            font-style: italic;
            font-weight: 500;

            span{
                font-weight: 600;
            }
        }

        p{
            margin-top: 30px;
        }
    }

    .sum{
        text-align: center;
        text-transform: uppercase;
        padding-right: 0px;
        padding-left: 0px;
        margin: 30px 0px 20px 0px;
        font-weight: 500;
        color: $header-backgroundcolor;

        span{
            display: block;
            padding: 10px 20px;
            border: 1px solid $header-backgroundcolor;
            transition: all .3s;
        }

        span:first-child{
            margin: 0px 10px;
        }
    }

    .more-summaries:hover span, .add-summary span{
        background-color: $header-backgroundcolor;
        color: white;
        transition: all .3s;
    }

    .empty span{
        background-color: transparent;
        color: $header-backgroundcolor;
    }

    .add-summary-block{
        display: none;

        .summary-textarea {
            padding-left: 0px;
            padding-right: 0px;

            textarea{
                width: 100%;
                padding: 10px 15px;
                margin-bottom: 5px;
                background-color: transparent;
                resize: none;
                outline: none;
            }
        }

        .submit{
            padding: 0;
            margin-bottom: 30px;
            input{
                width: 100%;
                padding: 4px;
                border: none;
                color: white;
                background-color: #DA5454;
            }
        }
    }

    .summary-area{
        position: relative;
        margin: 35px 0px;
    }

    .hidden-summaries{
        position: relative;
        display: none;
        overflow: hidden;
    }

    .summary-area:hover .delete-summary{
        display: inline-block;
    }

    .delete-summary{
        padding-left: 5px;
        display: none;
        a{
            color: $header-backgroundcolor;
        }
    }
}


.tiles{
    margin-bottom: 30px;
    padding: 0;
    text-transform: uppercase;
    a{
        color: black;
    }
}

.tile{
    box-sizing: border-box;
    border: 5px solid white;
    font-size: 1.2em;
    padding: 15px 20px;
    text-align: center;
    background-color: $base-gray;

    .fa{
        width: 20px;
    }
}

.tile.open{
    background-color: $message-answer;
    color:white;
}

.tile.new{
    background-color: #f7a942;
    color: white;
}

.tile.re-open{
    background-color: $accent-color;
    color: white;
}
