// *** Color variables ***

// Header
$header-backgroundcolor: #DA5454;

// Sidebar menu
// $sidebar-color: #2b2a33;
// $sidebar-hover-color: #3b3f48;
$sidebar-color: #676767;
$sidebar-hover-color: #DA5454;

// Notification bubble
$notification-color: #DA5454;

// Dashboard blocks
$base-gray: #dfdfdf;
$dark-gray: #3d3d3d;
$accent-color: #74D774;

// Social media colors
$twitter-color: #7accf0;
$facebook-color: #537bbd;

// Message bubbles
$message-answer: #74D774;
$message-gray: #dbdbdb;

// Form buttons
$btn-color: #DA5454;

// Titles
$orange-title: #DA5454;
