.filter{
    margin: 30px;
    .open-cases, .new-cases, .closed-cases, .my-cases{
        text-align: center;
        font-size: 1.5em;
        padding: 20px;
        background-color: $base-gray;
        color: black;
        border: 5px solid white;
        transition: all .3s;
        cursor: pointer;

        input[type="checkbox"]{
            display: none;
        }
    }

     #closed:checked + .closed-cases{
        font-size: 100em;
        background-color: red !important;
        color: red !important;
    }

    .open-cases:hover, .new-cases:hover, .closed-cases:hover, .my-cases:hover{
        color: black;
        background-color: darken($base-gray, 3%);
        transition: all .3s;
    }

    .new-cases{
        border-left: 0px;
    }
    .closed-cases{
        border-right: 0px;
    }

    .active, .active:hover{
        color: white;
        background-color: $accent-color;
        transition: all .3s;
    }

    .disabled{
        opacity: .4;
        pointer-events:none;
    }

    a{
        text-decoration: none;
    }
}
