.search-bar, .search-case-bar{
    float: none;

    margin: 50px 0px 10px 0px;
    width: 50%;
    height: 40px;
    font-size: 1.5em;
    text-align: center;

    outline: none;
}

.search{
    text-align: center;

    h3{
        font-weight: 600;
    }
}
